*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
.menu{
    height: 100vh;
    width: 100%;
    background-color: black;
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color: tomato;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
/*body {
    background-image: linear-gradient(45deg, black, #575555);
    color: aliceblue;
    padding: 3%;
}
h1 , h2 {
    font-style: italic;
}
#titulo {
    font-weight: 600;
    color:purple;
    text-align: left;
    font-size: 20px;
}
.descricao {
    font-size: 18px;
    position: absolute;
    top: 160px;
    left: 260px;
    font-style: italic;
}
.button {
    position: absolute;
    color:whitesmoke;
    padding: 15px;
}
#habilidades {
    text-align: left;
    font-size: 18px;
}
#minhaFoto {
    float: left;
    height: 300px;
    padding: 10px;

}
.image-container{
    height: 320px;
    position: relative;
    padding: 5%;
}
.meuNome{
    text-align: center;
}
.container{
    border: 2px solid gray;
    padding: 2%;
    border-radius: 70px;

}*/
